*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 20px 100px;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 2;
}

header img{
    border-radius: 70%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

header h2{
     padding-left: 10px;
}

.icon-arrow {
    transform: rotate(90deg);
}

body 
{
    min-height: 100vh;
    width: 100%;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
}
/*************************************************/
.row{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

.row input{
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid  grey;

}

/* to remove the arrows in the input field*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0px;

}
 .wrapper
{
    width: 450px;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper .imgClass
{
    padding-left: 30%;
    display: flex;
    align-items: center;
}

.wrapper img{
    height: 170px;
    width: 170px;
    margin-bottom: 50px;
    border-radius: 30%;
    object-fit: cover;
}

button{
    width: 100%;
    height: 45px;

    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    border: none;
    outline: none;

    border-radius: 40px;
    background-color: #dd6161;

    font-size: 16px;
    font-weight: 600;
    text-align: center;

    margin: 20px 0 15px;
}

.active{
    background-color: #e64d4d;
}


